<header>
  <nav>
      <div class="MainBar">
          <ul class="MainBar-List left">
              <li><a href="">Home</a></li>
              <li><a href="">Profiles</a></li>
              <li><a href="">Reports</a></li>
              <li><a href="">Settings</a></li>
          </ul>
          <ul class="MainBar-List right">
              <li><a href=""><i class="fa-regular fa-bell"></i></a></li>
              <li><a href="profile.html"><i class="fa-regular fa-user"></i></a></li>
          </ul>
      </div>
  </nav>